<form action="/product/addform" method="post" enctype="multipart/form-data">
   <div>
    <label for="name">Tên sản phẩm:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="image">Hình ảnh:</label>
    <input type="file" id="file" name="image" accept="*">
  </div>
  <div>
    <label for="sizes">Kích thước và giá tiền:</label>
    <div id="sizes">
      <div class="size-input">
        <input type="text" name="sizeS" placeholder="Size S" required>
        <input type="text" name="sizeM" placeholder="Size M" required>
      </div>
    </div>
    {{!-- <button type="button" id="add-size">Thêm kích thước</button> --}}
  </div>
  <div>
    <label for=" details">Thông tin chi tiết:</label>
    <textarea id="details" name="details"></textarea>
  </div>
  <button type="submit">Thêm sản phẩm</button>
  

</form>

